/* -------------- CSS Reset -------------- */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
}

/* -------------- Custom CSS -------------- */
body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  background-color: rgb(39, 39, 39);
  display: grid;
  grid-template-rows: 1fr;
}

.wrapper {
  height: 100%;
  background-color: rgb(39, 39, 39);
}

/* -------------- Dashboard -------------- */
.dashboard {
  background-color: #131313;
  border-radius: 25px;
  margin: 20px;
  height: calc(100% - 25px);
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.dashboard nav {
  border-radius: 25px 0px 0px 25px;
  grid-row: 1/3;
  display: grid;
  align-content: start;
  justify-items: center;
  gap: 25px;
}
.dashboard nav .title {
  margin-top: 50px;
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  gap: 10px;
}
.dashboard nav .title img {
  height: 30px;
  width: 30px;
}
.dashboard nav .title h1 {
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}
.dashboard nav .container-profile {
  display: grid;
  justify-items: center;
  margin: 25px 0px;
}
.dashboard nav .container-profile img {
  height: 60px;
  width: 60px;
  border-radius: 50px;
}
.dashboard nav .container-profile p {
  color: white;
  font-weight: bold;
  padding: 5px;
}
.dashboard nav .container-profile button {
  font-size: 0.8rem;
  padding: 1px 10px;
  color: white;
  border-radius: 50px;
  border: 1px solid gray;
  background-color: #131313;
  cursor: pointer;
}
.dashboard nav a {
  color: white;
  text-decoration: none;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 10px;
}
.dashboard nav a img {
  height: 18px;
  width: 18px;
}
.dashboard nav a:nth-child(9) {
  margin-top: 50px;
}
.dashboard header {
  border-radius: 0px 25px 0px 0px;
  grid-column: 2/4;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  align-items: center;
}
.dashboard header .container-greetings p {
  color: white;
  font-size: 1.5rem;
}
.dashboard header .container-greetings h2 {
  color: white;
  font-size: 2rem;
}
.dashboard header .container-search {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 10px;
}
.dashboard header .container-search img {
  height: 35px;
  width: 35px;
}
.dashboard header .container-search input {
  min-width: 250px;
}
.dashboard header img {
  height: 35px;
  width: 35px;
}
.dashboard .container-main {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 3fr 1fr;
}
.dashboard .container-main main {
  padding: 25px 45px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-auto-rows: 260px;
  gap: 45px;
}
.dashboard .container-main main .content {
  background-color: blanchedalmond;
}
.dashboard .container-main main .trends {
  background-color: #FFEC87;
  display: grid;
}
.dashboard .container-main main .trends__header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
.dashboard .container-main main .trends__header h3 {
  font-size: 1.5rem;
}
.dashboard .container-main main .trends__header p {
  justify-self: end;
  font-size: 0.9rem;
}
.dashboard .container-main main .trends__image {
  justify-self: center;
  align-self: center;
  height: 30px;
  width: 30px;
}
.dashboard .container-main main .trends__footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  grid-template-columns: 0fr 1fr 0fr;
  gap: 10px;
}
.dashboard .container-main main .trends__footer div {
  background-color: yellow;
  border-radius: 4px;
  height: 12px;
  width: 12px;
}
.dashboard .container-main main .report {
  display: grid;
  align-content: space-between;
}
.dashboard .container-main main .report__header {
  display: grid;
  grid-auto-flow: column;
  justify-items: start;
}
.dashboard .container-main main .report__header h3:last-child {
  justify-self: end;
}
.dashboard .container-main main .report__footer {
  display: grid;
  justify-content: center;
}
.dashboard .container-main main .report__footer button {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 10px;
}
.dashboard .container-main main .report__footer button img {
  height: 30px;
  width: 30px;
}
.dashboard .container-main main .calendar {
  display: grid;
  align-content: space-between;
}
.dashboard .container-main main .calendar__header {
  display: grid;
  grid-auto-flow: column;
}
.dashboard .container-main main .calendar__header h3 {
  font-size: 1.5rem;
}
.dashboard .container-main main .calendar__header img {
  justify-self: end;
  height: 30px;
  width: 30px;
}
.dashboard .container-main main .calendar__main {
  display: grid;
  grid-auto-flow: column;
}
.dashboard .container-main main .calendar__main button {
  font-size: 0.9rem;
  display: grid;
}
.dashboard .container-main main .calendar__main button span {
  font-weight: bold;
}
.dashboard .container-main main .calendar__main .highlight {
  background-color: #FFEC87;
}
.dashboard .container-main main .calendar__footer {
  font-size: 0.9rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 0fr 1fr;
}
.dashboard .container-main main .calendar__footer div:first-child p:last-child {
  font-weight: bold;
}
.dashboard .container-main main .calendar__footer hr {
  height: 25px;
}
.dashboard .container-main main .calendar__footer div:last-child {
  text-align: center;
}
.dashboard .container-main main .roi {
  display: grid;
}
.dashboard .container-main main .roi__header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 0fr 0fr 1fr;
}
.dashboard .container-main main .roi__header p:last-child {
  justify-self: end;
}
.dashboard .container-main main .roi__footer {
  text-align: right;
  align-self: end;
}
.dashboard .container-main main .ai {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
}
.dashboard .container-main main .projects {
  display: grid;
}
.dashboard .container-main main .projects__header {
  display: grid;
  grid-auto-flow: column;
}
.dashboard .container-main main .projects__header p {
  justify-self: end;
}
.dashboard .container-main main .projects img {
  justify-self: center;
  height: 30px;
  width: 30px;
}
.dashboard .container-main main .projects__footer {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: 0fr 1fr 0fr;
  gap: 20px;
}
.dashboard .container-main main .projects__footer hr {
  border: 1px solid gray;
  width: 100%;
}
.dashboard .container-main main .projects__footer p:first-child {
  white-space: nowrap;
}
.dashboard .container-main main .projects__footer p:last-child {
  font-size: 2rem;
}
.dashboard .container-main aside {
  border-radius: 0px 0px 25px 0px;
  display: grid;
  align-content: start;
  gap: 20px;
}
.dashboard .container-main aside .container-tasks div {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
.dashboard .container-main aside .container-tasks div h3 {
  color: white;
  font-size: 1.5rem;
}
.dashboard .container-main aside .container-tasks div img {
  height: 30px;
  width: 30px;
}
.dashboard .container-main aside .container-tasks hr {
  border: 1px solid gray;
}
.dashboard .container-main aside .container-tasks li {
  color: white;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 10px;
}
.dashboard .container-main aside .container-tasks li p {
  font-size: 1rem;
}
.dashboard .container-main aside .container-tasks li div {
  background-color: yellow;
  border-radius: 4px;
  height: 12px;
  width: 12px;
}
.dashboard .container-main aside .container-team div {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
.dashboard .container-main aside .container-team div h3 {
  color: white;
  font-size: 1.5rem;
}
.dashboard .container-main aside .container-team div img {
  height: 30px;
  width: 30px;
}
.dashboard .container-main aside .container-team hr {
  border: 1px solid gray;
}
.dashboard .container-main aside .container-team li {
  color: white;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  gap: 10px;
}
.dashboard .container-main aside .container-team li div {
  display: grid;
  grid-auto-flow: row;
}
.dashboard .container-main aside .container-team li div p:last-child {
  font-size: 0.9rem;
}
.dashboard .container-main aside .container-announcements {
  display: grid;
}
.dashboard .container-main aside .container-announcements h3 {
  color: white;
  font-size: 1.5rem;
}
.dashboard .container-main aside .container-announcements hr {
  border: 1px solid gray;
  width: 100%;
}
.dashboard .container-main aside .container-announcements li {
  color: white;
  display: grid;
}
.dashboard .container-main aside .container-announcements li a {
  color: white;
}

/* -------------- Github -------------- */
.github-wrapper a {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 0.7rem;
  color: white;
  text-decoration: none;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.github-wrapper a img {
  padding: 0;
  height: 25px;
  width: 25px;
}
.github-wrapper a:hover p {
  display: none;
}
.github-wrapper a:hover:after {
  content: "Click to see code";
}/*# sourceMappingURL=style.css.map */