$font-white: white;
$theme-yellow: #FFEC87;
$theme-black: #131313;

/* -------------- CSS Reset -------------- */

*, *::before, *::after {
    box-sizing: border-box;
  }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
}

/* -------------- Custom CSS -------------- */

// font-family: 'Inter', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Noto Sans', sans-serif;
// font-family: 'Noto Sans JP', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;

body {
    font-family: 'Lato', sans-serif;
    
    min-height: 100vh;
    background-color: rgb(39, 39, 39);

    display: grid;
    grid-template-rows: 1fr;
}

.wrapper {
    height: 100%;
    background-color: rgb(39, 39, 39);


}

/* -------------- Dashboard -------------- */

.dashboard {
    background-color: $theme-black;
    border-radius: 25px;
    margin: 20px;
    height: calc(100% - 25px);

    display: grid;
    grid-template-columns: 1fr 5fr;

    nav {
        border-radius: 25px 0px 0px 25px;

        grid-row: 1 / 3;
        display: grid;
        align-content: start;
        justify-items: center;
        gap: 25px;
        .title {
            margin-top: 50px;
            display: grid;
            align-items: center;
            grid-auto-flow: column;
            gap: 10px;
            img {
                height: 30px;
                width: 30px;
            }
            h1 {
                color: $font-white;
                font-size: 1.1rem;
                font-weight: bold;
            }
        }
        .container-profile {
            display: grid;
            justify-items: center;
            margin: 25px 0px;
            img {
                height: 60px;
                width: 60px;
                border-radius: 50px;
            }
            p {
                color: $font-white;
                font-weight: bold;
                padding: 5px;
            }
            button {
                font-size: 0.8rem;
                padding: 1px 10px;
                color: $font-white;
                border-radius: 50px;
                border: 1px solid gray;
                background-color:$theme-black;
                cursor: pointer;
            }
        }
        a {
            color: $font-white;
            text-decoration: none;
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            gap: 10px;
            img {
                height: 18px;
                width: 18px;
            }
        }

        a:nth-child(9) {
            margin-top: 50px;
        }
    }

    header {
        border-radius: 0px 25px 0px 0px;
        grid-column: 2 / 4;
        
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr;
        align-items: center;
        .container-greetings {
            p {
                color: $font-white;
                font-size: 1.5rem;
            }
            h2 {
                color: $font-white;
                font-size: 2rem;
            }
        }
        .container-search {
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            gap: 10px;
            img {
                height: 35px;
                width: 35px;
            }
            input {
                min-width: 250px;
            }
        }
        img {
            height: 35px;
            width: 35px;
        }
    }

    .container-main {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 3fr 1fr;
        main {
            padding: 25px 45px;
        
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
            grid-auto-rows: 260px;
            gap: 45px;

            .content {
                background-color: blanchedalmond;
            }
            .trends {
                background-color: $theme-yellow;
                display: grid;
                &__header {
                    display: grid;
                    grid-auto-flow: column;
                    align-items: center;
                    h3 {
                        font-size: 1.5rem;
                    }
                    p {
                        justify-self: end;
                        font-size: 0.9rem;
                    }
                }
                &__image {
                    justify-self: center;
                    align-self: center;
                    height: 30px;
                    width: 30px;
                }
                &__footer  {
                    display: grid;
                    grid-auto-flow: column;
                    justify-content: start;
                    align-items: center;
                    grid-template-columns: 0fr 1fr 0fr;
                    gap: 10px;
                    div {
                        background-color: yellow;
                        border-radius: 4px;
                        height: 12px;
                        width: 12px;
                    }
                    p:last-child {
                    }
                }
            }
            .report {
                display: grid;
                align-content: space-between;
                &__header {
                    display: grid;
                    grid-auto-flow: column;
                    justify-items: start;
                    h3:last-child {
                        justify-self: end;
                    }
                }
                &__footer {
                    display: grid;
                    justify-content: center;
                    button {
                        display: grid;
                        grid-auto-flow: column;
                        align-items: center;
                        gap: 10px;
                        img {
                            height: 30px;
                            width: 30px; 
                        }
                    }
                }
            }
            .calendar {
                display: grid;
                align-content: space-between;
                &__header {
                    display: grid;
                    grid-auto-flow: column;
                    h3 {
                        font-size: 1.5rem;
                    }
                    img {
                        justify-self: end;
                        height: 30px;
                        width: 30px; 
                    }
                }
                &__main {
                    display: grid;
                    grid-auto-flow: column;
                    button {
                        font-size: 0.9rem;
                        display: grid;
                        span {
                            font-weight: bold;
                        }
                    }
                    .highlight {
                        background-color: $theme-yellow;
                    }
                }
                &__footer {
                    font-size: 0.9rem;
                    display: grid;
                    grid-auto-flow: column;
                    grid-template-columns: 1fr 0fr 1fr;
                    div:first-child {
                        p:last-child {
                            font-weight: bold;
                        }
                    }    
                    hr {
                        height: 25px;
                    }
                    div:last-child {
                        text-align: center;
                    }
                }
            }
            .roi {
                display: grid;
                &__header {
                    display: grid;
                    grid-auto-flow: column;
                    grid-template-columns: 0fr 0fr 1fr;
                    p:last-child {
                        justify-self: end;
                    }
                }
                &__footer {
                    text-align: right;
                    align-self: end;
                }
            }
            .ai {
                display: grid;
                justify-content: center;
                align-items: center;
                padding-top: 90px;
            }
            .projects {
                display: grid;
                &__header {
                    display: grid;
                    grid-auto-flow: column;
                    p {
                        justify-self: end;
                    }
                }
                img {
                    justify-self: center;
                    height: 30px;
                    width: 30px; 
                }
                &__footer {
                    display: grid;
                    grid-auto-flow: column;
                    align-items: center;
                    grid-template-columns: 0fr 1fr 0fr;
                    gap: 20px;
                    hr {
                        border: 1px solid gray;
                        width: 100%;
                    }
                    p:first-child {
                        white-space: nowrap;
                    }
                    p:last-child {
                        font-size: 2rem;
                    }
                }
            }
            
        }
        aside {
            border-radius: 0px 0px 25px 0px;
            display: grid;
            align-content: start;
            gap: 20px;
            .container-tasks {
                div {
                    display: grid;
                    grid-auto-flow: column;
                    justify-content: space-between;
                    align-items: center;
                    h3 {
                        color: $font-white;
                        font-size: 1.5rem;
                    }
                    img {
                        height: 30px;
                        width: 30px;
                    }
                }
                hr {
                    border: 1px solid gray;
                }
                li {
                    color: $font-white;
                    display: grid;
                    grid-auto-flow: column;
                    grid-template-columns: 1fr;
                    align-items: center;
                    gap: 10px;
                    p {
                        font-size:1rem;
                    }
                    div {
                        background-color: yellow;
                        border-radius: 4px;
                        height: 12px;
                        width: 12px;
                    }
                }
            }
            .container-team {
                div {
                    display: grid;
                    grid-auto-flow: column;
                    justify-content: space-between;
                    align-items: center;
                    h3 {
                        color: $font-white;
                        font-size: 1.5rem;
                    }
                    img {
                        height: 30px;
                        width: 30px;
                    }
                }
                hr {
                    border: 1px solid gray;
                }
                li {
                    color: $font-white;
                    display: grid;
                    grid-auto-flow: column;
                    grid-template-columns: 1fr 5fr 1fr;
                    align-items: center;
                    gap: 10px;
                    div {
                        display: grid;
                        grid-auto-flow: row;
                        p:last-child {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
            .container-announcements {
                display: grid;
                h3 {
                    color: $font-white;
                    font-size: 1.5rem;
                }
                hr {
                    border: 1px solid gray;
                    width: 100%;
                }
                li {
                    color: $font-white;
                    display: grid;
                    a {
                        color: $font-white;
                    }
                }
            }
        }
    }

    
}

/* -------------- Github -------------- */

.github-wrapper {
    a {
        font-family:'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: 0.7rem;
        color: white;
        text-decoration: none;
        padding: 5px;

        display: flex;
        align-items: center;
        gap: 5px;

        img {
            padding: 0;
            height: 25px;
            width: 25px;
        }

        &:hover p {
            display: none;
        }
        
        &:hover:after {
            content: "Click to see code";
        }
    }
}